<h1>Mike's Landscape Emporium</h1>

<div class="elbow_room">
<h3>Mike turned his love of yard work and landscaping into a business in 2018.</h3>
<h3>Check back weekly for specials and deals.  We constantly have great offers!</h3>
<h3 class="talk_to_us">Talk to us about setting up recurring service.  Thanks for checking in with us weekly!</h3>
</div>

<div class="row">
  <div class="col">
    <div id="pic_lawnmower">
      <%= image_tag("lawnmower_cropped.jpg") %>
    </div>
  </div>

<div class="col services_midlist">
  <h3>Check out our <em>Products</em> page to see the top items that homeowners purchase and use most often in our area. Our prices on these items are rock-bottom!</h3>
  <!-- <h3>Our Services:</h3>
  <ul class="services_we_offer">
    <li>basic lawn mowing</li>
    <li>general yard cleanup and weeding</li>
    <li>Leaf work in autumn and winter</li>
    <li>planting and mulching in spring and throughout seasons</li>
    <li>tree and shrub care and maintenance</li>
  </ul> -->
</div>

<div class="col">
<%= image_tag("leaf_work_cropped.jpg") %>
</div>
</div>
