<h1>To purchase something you see:</h1>
<ul>
  <li>Click on the item</li>
  <li>Follow instructions and enter all information</li>
  <li>Contact the contact person listed to arrange pick up</li>
  <li>Check again next week!</li>

  <h3>If issues arise, please contact Mike at: </h3>
  <h4> michaelszott@hotmail.com </h4>
  
