<h1>Mike's Landscape Emporium</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<h2>Getting our hands dirty in the Triangle since 2018.</h2>

<%= image_tag("grass_cropped.jpg") %>
<h2>For all of your landscaping needs for yard, home, and garden!<h2>
<%= image_tag("hummingbird_cropped.jpg") %>
<h2>Want to bring some wildlife into your mundane life?  Give us a call.</h2>

<div class="help_with_list">
<h2 class="list_title"> We can help with:</h2>
<ul>
  <li>Birdfeeder installations</li>
  <li>Dog and pet fencing</li>
  <li>Water features</li>
  <li>Much, much more!</li>
</ul>
</div>
