nav {
  font-size: 5em;
  padding-bottom: 40px;
}

nav ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 10px;
  background-color: #11f74a;
  line-height: 60px;
}

nav ul li {
  display: inline;
  padding-right: 75px;
  font-weight: bold;
  height: 40px;
}




h1 {
  font-family: fantasy;
  text-decoration: underline;
}

body {
  // margin-left: 30px;
  // margin-top: 30px;
}

.address {
  margin-bottom: 2em;
}

.owner_email {
  margin-bottom: 2em;
  color: green;
}

.help_with_list {
  font-size: 2em;
  // margin-left: 70px;
  color: red;
  line-height: 28px;
  // padding-top: 20px;
}

.list_title {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.services_list_title {
  font-size: 2em;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  float: none;

}

#pic_lawnmower {
  // padding-top: 25px;
  // padding-bottom: 25px;
  // padding-right: 50px;
  float: left;
  margin-left: 30px;
}

.services_we_offer {
  font-size: 1em;
  text-align: left;

}

.center_column {
  float: left;
  // padding-right: 30px;
}

.talk_to_us {
  // padding-bottom: 40px;
}

.opening_title {
  font-size: 3em;
}

.elbow_room {
  margin-bottom: 3em;
}

.front_page_text {
  text-align: center;
  font-size: 2em;
  color: blue;
  text-align: center;
  margin-bottom: 2em;
}

.services_middle {
  margin-left: 30px;
  font-size: 1em;
}

.services_midlist {
  text-align: center;
  font-size: 28px;
  color: red;
}

.mundane_life {
  margin-top: 1em;
  color: blue;
}








// Place all the styles related to the simeple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/











// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
